.row{
    .table{
        tbody{
            tr{
                .thumbnail {
                    width: 80px;
                    height: 80px;
                    border-radius: 20%;
                    background-size: cover;
                }
            }
        }
    }
}