<form #f="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)] ="shipping.name" class="form-control" name="name" required placeholder="Name . . .">
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input  #address="ngModel" [(ngModel)] ="shipping.address" class="form-control" name="address" required placeholder="Line 1 . . .">
    </div>
    <div class="form-group">
        <label for="address2"></label>
        <input  #address2="ngModel" [(ngModel)] ="shipping.address2" class="form-control" name="address2" required placeholder="Line 2 . . .">
    </div>

    <div class="form-group">
        <label for="city">City</label>
        <input  #city="ngModel" [(ngModel)] ="shipping.city" class="form-control" name="city" required placeholder="City . . .">
    </div>

    <button [disabled] ="!f.valid" (click)="placeOrder()" class="btn btn-primary">Place Order</button>
</form>